body {
    overflow-x: hidden;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px 0; /* navbar */
    background: linear-gradient(90deg, #FFC107, #FF4F3E);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}

.footer-section {
    margin: 0;
    padding: 15px;
       overflow: hidden;
    height: 235px !important;
    overflow-x: hidden;
    margin-top: 10px;

}

.footer {
    display: flex;
    /* width: 100vw; */
    width: 100%;
    justify-content: space-around;
    background: linear-gradient(90deg, #FFC107, #FF4F3E);
    color: #fff;
    position: absolute;
    margin-top: auto;
    text-align: start !important;
    overflow-x: hidden;
    margin-bottom: 0px;
    margin-left: 0px;
    left: 0px;
    right: 0px;
}

.footer-section h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;

}

.footer-section ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 16px !important;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section p {
    margin: 5px 0;
}

.footer-section input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #333; 
}

.footer-section button {
    padding: 10px 20px;
    background-color: #fff; 
    color: #ff8a00; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    font-weight: bold;
    max-width: 113px;
    text-align: center;
}

.footer-section button:hover {
    background-color: rgba(255, 204, 86, 0.893); 
    color: #fff; 
}

.Subscribe{
    display: grid;
}