
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }



.login-card {
    display: flex;
    gap: 20px;
    border: 2px solid #d24119; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .image-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image{
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .register-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .register-card{
    display: flex;
    gap: 20px;
    border: 2px solid #2819d2; 
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }